.formboldmb5 {
  margin-bottom: 20px;
}
.formboldpt3 {
  padding-top: 12px;
}
.formboldmainwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formboldformwrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formboldformlabel {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formboldformlabel2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formboldforminput {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formboldforminput:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formboldbtn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 5 px;
}
.formboldbtn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formboldmx3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formboldpx3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flexwrap {
  flex-wrap: wrap;
}
.wfull {
  width: 100%;
}
.formboldbtn:disabled {
  background-color: #8b85ff;
  color: #e0e0e0;
}
.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.left {
  width: 40%;
}

.right {
  width: 25%;
  margin-left: 15%;
  margin-top: 60px;
}
.mapimg {
  width: 95%;
  margin-top: 40px;
  border-radius: 10px;
}

.contact {
  margin-top: 0;
  font-size: 45px;
  font-weight: 700;
}
.contactInfo {
  width: 85%;
  opacity: 0.7;
}
.recapcha {
  width: 10px;
}
.hidden {
  visibility: hidden;
}
/* Intro */
.fullContainer {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}
.jm {
  position: relative;
  width: 100%;
  max-width: 100vw;
}
.HeadContainer {
  margin-left: 20px;
  margin-top: 5%;
}
.Introwrapper {
  height: auto;
  z-index: 10;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding-top: 0px;
  padding-bottom: 40px;
}

.blurBombsContainer {
  background: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  max-width: 100vw;
}
.blurBombs {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  max-width: 75rem;
}
.blurtriangle {
  position: absolute;
  overflow: visible;
  filter: blur(45.6px);
  top: 0%;
  left: -3%;
  width: 35%;
}

.blur1 {
  width: 100%;
  display: inline;
}

.blurSemiCircle {
  position: absolute;
  overflow: visible;
  filter: blur(27.6px);
  bottom: 10%;
  right: 5%;
  opacity: 0.5;
}
.blur2 {
  width: 100%;
  display: inline;
}

.has1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 135%;
  font-size: clamp(2.5rem, 6vw, 3.75rem);
  letter-spacing: normal;
  text-align: left;
  margin-top: 80px;
}

.head {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.itemContainer {
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 4%;
  height: 60vh;
  width: 100%;
  max-width: 75rem;
  padding-left: clamp(0.875rem, 2vw, 1.5rem);
  padding-right: clamp(0.875rem, 2vw, 1.5rem);
}

.container {
  max-width: 896px;
  margin-bottom: clamp(0.875rem, 2vw, 1.5rem);
}

.infoContainer {
  font-weight: 200;
  margin-top: 100px;
  max-width: 793px;
}

.introInfo {
  line-height: 200%;
  font-weight: 300;
  font-size: clamp(1.05rem, 1vw, 1.25rem);
  color: rgb(31, 31, 30);
  text-align: left;
  margin-bottom: 0px;
}
.dot {
  color: #007aff;
}

@media (max-width: 500px) {
  .formboldmainwrapper {
    padding: 0px;
    margin-left: 35px;
    overflow: hidden;
  }
  .HeadContainer {
    margin-top: 40%;
    margin-left: 40px;
  }
  .itemContainer {
    width: 97%;
    margin: 0px;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0px;
    height: 53vh;
  }
  .blurtriangle {
    filter: blur(15.6px);
  }
  .blurSemiCircle {
    top: 50%;
    right: 1;
  }
  .wrapper {
    display: block;
  }
  .left {
    margin: auto;
    width: 130%;
    margin-bottom: 80px;
  }
  .info {
    width: 100%;
  }
  .mapimg {
    display: none;
  }
  .right {
    width: 100%;
    margin-top: 30px;
    margin: auto;
  }
}

/* tablet view */
@media (max-width: 780px) {
  .HeadContainer {
    margin-top: 40%;
    margin-left: 15px;
  }
  .itemContainer {
    width: 97%;
    margin: 0px;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0px;
    height: 53vh;
  }
  .blurtriangle {
    filter: blur(15.6px);
  }
  .blurSemiCircle {
    top: 50%;
    right: 1;
  }
  .infoContainer {
    margin-top: 30px;
  }
  .wrapper {
    display: block;
  }
  .left {
    margin: auto;
    width: 100%;
    margin-bottom: 80px;
  }
  .mapimg {
    display: none;
  }
  .left {
    width: 100%;
  }
  .info {
    width: 100%;
  }
  .right {
    width: 90%;
    margin-top: 30px;
    margin: auto;
    margin: 0;
    background-color: black;
    padding: 0px;
  }
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
