.img {
  border-radius: 6.5px;
  cursor: pointer;
}
.container {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-right: 40px;
  gap: 40px;
}
.postcard {
  padding: 0;
  width: auto;
  margin: 0;
}
.img {
  border-radius: 4px;
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}
.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
  width: 450px;
}
.headContainer {
  margin-top: 14%;
  text-align: center;
}
.h1 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
  line-height: 60px;
}
.fade {
  flex: 1 1 0%;
  position: relative;
}

.excerpt {
  width: 98%;
  margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: unset;
  letter-spacing: 1px;
  background-color: transparent;
  line-height: 150%;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.895rem;
  text-align: left;
  margin-bottom: 0px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(46, 46, 46) 90%, rgb(92, 92, 92) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.metadata {
  display: flex;
  margin-top: 12px;
}
.clock {
  font-size: 30px;
  margin-right: 8px;
}
.authorleft {
  margin-left: 10px;
}
.author {
  display: flex;
  margin-right: 40px;
  font-weight: normal;
  color: black;
}
.date {
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: black;
}
.authorImg {
  border-radius: 50%;
  margin-right: 10px;
}
@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 961px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
  .title {
    width: 90%;
    margin-top: 10px;
    font-size: 35px;
  }
  .excerpt {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    margin-top: 14%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr;
    margin-top: 14%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .postcard {
    margin: auto;
    margin-bottom: 20px;
  }
  .title {
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
  }
  .img {
    margin-top: 0px;
  }
}
@media (max-width: 912px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
  .headContainer {
    margin-top: 14%;
  }
  .container {
    margin-top: 4%;
  }
}
@media (max-width: 700px) {
  .headContainer {
    margin-top: 25%;
  }
  .title {
    width: 100%;
    font-size: 19px;
  }
  .h1 {
    line-height: 46px;
    font-size: 40px;
  }
  .excerpt {
    width: 95%;
    font-size: 0.895rem;
  }
}
