.img {
  border-radius: 6.5px;
  cursor: pointer;
}
.container {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-right: 40px;
  gap: 40px;
}
.postcard {
  padding: 0;
  width: auto;
  margin: 0;
}
.img {
  border-radius: 4px;
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}
.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
  width: 450px;
}
.headContainer {
  margin-top: 14%;
  text-align: center;
}
.h1 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 961px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
  .title {
    width: 90%;
    margin-top: 10px;
    font-size: 43px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    margin-top: 14%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr;
    margin-top: 14%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
  .postcard {
    margin: auto;
    margin-bottom: 20px;
  }
  .title {
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
  }
  .img {
    margin-top: 0px;
  }
}
@media (max-width: 912px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 14%;
  }
  .headContainer {
    margin-top: 14%;
  }
  .container {
    margin-top: 4%;
  }
}
@media (max-width: 500px) {
  .headContainer {
    margin-top: 25%;
  }
  .h1 {
    line-height: 46px;
    font-size: 40px;
  }
}
